<ion-view title="PattaQuery">
    <ion-content overflow-scroll="true" >
        <div class="list list-inset">

            <label class="item item-input item-select">
                <div class="input-label">
                    District:
                </div>
                <select>
                    <option>-Select District-</option>
                    <option >বিষ্ণুপুর</option>
                    <option >ইম্ফাল ইস্ঠ</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Circle:
                </div>
                <select>
                    <option>-Select Circle-</option>
                    <option >Green</option>
                    <option>Red</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Village:
                </div>
                <select>
                    <option>-Select Village-</option>
                    <option >Green</option>
                    <option>Red</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">NewDagNo:</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">NewPattaNo:</span>
                <input type="password">
            </label>
            <div class="padding">
                <button class="button button-block base-color" ng-click="PQuery.createInvoice()">Submit</button>
            </div>
        </div>
    </ion-content>
</ion-view>
<script id="pdf-viewer.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="base-color">
            <h1 class="title">PattaDetails</h1>
            <div class="button button-clear" ng-click="PQuery.modal.hide()"><span class="icon ion-close" style="color:#ffffff;"></span></div>
        </ion-header-bar>
        <ion-content>
            <ng-pdf ng-if="pdfUrl" template-url="Views/PattaQuery/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>
        </ion-content>
    </ion-modal-view>
</script>