<ion-view title="PattaDownload" cache-view="false">
    <ion-content overflow-scroll="true" >
        <form name="PQuery.pqForm" novalidate>
            <div class="list list-inset">

                <label class="item item-input item-select">
                    <div class="input-label">
                        District:
                    </div>
                    <!--<select ng-model="PQuery.district" ng-options="d.distcode as d.distDesc for d in PQuery.districts" ng-change="PQuery.onDistSelect()" >-->
                    <select  name="district" ng-model="PQuery.district" ng-options="d.distDesc for d in PQuery.districts" ng-change="PQuery.onDistSelect()"  required>
                        <option value="" disabled selected>-Select District-</option>

                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Circle:
                    </div>
                    <select name="circle" ng-disabled="!PQuery.district" ng-model="PQuery.circle" ng-options=" c.cirDesc for c in PQuery.circles" ng-change="PQuery.onCircSelect()" required>
                        <option value="" disabled selected>-Select Circle-</option>

                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Village:
                    </div>
                    <!--<select ng-disabled="!PQuery.circle  " ng-model="PQuery.village" ng-options=" v.locCd as v.locDesc for v in PQuery.villages ">-->
                    <select name="village" ng-disabled="!PQuery.circle  " ng-model="PQuery.village" ng-options=" v.locDesc for v in PQuery.villages" ng-change="PQuery.onVillSelect()" required>
                        <option value="" disabled selected>-Select Village-</option>

                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">NewDagNo:</span>
                    <input name="dagno" type="number" ng-model="PQuery.NewDagNO" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">NewPattaNo:</span>
                    <input name="pattano" type="number" ng-model="PQuery.NewPattaNo" required>
                </label>
               <!-- <div class="padding">
                    <p ng-show="PQuery.pqForm.district.$error.required && !PQuery.pqForm.district.$pristine" style="color:red;"> *Plz select District</p>
                    <p ng-show="PQuery.pqForm.dagno.$error.required && !PQuery.pqForm.dagno.$pristine" style="color:red;"> *Dagno</p>
                </div>-->
                <div class="padding">
                    <button class="button button-block base-color" ng-click="PQuery.getDetail()" ng-disabled="PQuery.pqForm.$invalid">{{PQuery.btnText}}<ion-spinner class="spinner-energized myspinner" ng-if="PQuery.isProcessing"></ion-spinner></button>

                    <!-- <button class="button button-block base-color" ui-sref="app.pqResult">Submit</button>-->
                </div>


            </div>

        </form>

    </ion-content>
</ion-view>
<!--
<script
  id="pdf-viewer.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="base-color">
            <h1 class="title">PattaDetails</h1>
            <div class="button button-clear" ng-click="PQuery.modal.hide()"><span class="icon ion-close" style="color:#ffffff;"></span></div>
        </ion-header-bar>
        <ion-content>
            <ng-pdf ng-if="pdfUrl" template-url="Views/PattaQuery/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>
        </ion-content>
    </ion-modal-view>
</script>
-->

