<ion-view title="Contact Us">
    <ion-content>
      <div class="list card">
          <div class="item item-avatar" >
              <img src="img/Logo_kanglasha.png" >
              <h2 style="color:#5DBCD2">LouchaPathap ROR App</h2>
              <p style="color:#5DBCD2">Revenue Dept, Govt. of Manipur</p>

          </div>
          <a href="#" class="item item-icon-left">
              <i class="icon ion-home"></i>
              http://www.louchapathap.nic.in
          </a>
          <a href="#" class="item item-icon-left">
          <i class="icon ion-person"></i>
          Tarakishori Rajkumari
      </a>
          <a href="#" class="item item-icon-left">
              <i class="icon ion-android-phone-portrait"></i>
              +91 9436891954
          </a>
          <a href="#" class="item item-icon-left">
              <i class="icon ion-email"></i>
              tara@nic.in
          </a>
      </div>
    </ion-content>

</ion-view>