<ion-view title="Disclaimer" >
<ion-content>
     <div class="list card">

  <div class="item item-avatar">
    <img src="img/Logo_kanglasha.png">
    <h2>LPApp</h2>
    <p>Revenue Department </p>
  </div>

  <div class="item item-body" style="color:#ffffff !important;background:white !important;display:block !important;">
    <img class="full-image" src="img/logo2.svg" style="background-color:#5DBCD2 !important;">
    <p>
    LouchaPathap Mobile App is introduced with an aim to provide Jammabandi/ROR through smartphones to land owners ,citizens, litigants , banking authorities and others. The Jammabandi/ROR downloaded from this app is just for information purpose only having no legal binding.All the Contents and the Data are provided by the concerned department. For any  discrepancy,Please contact the concerned SDC
    </p>
   
  </div>

</div>
</ion-content>
  
</ion-view>