<ion-view title="Home" hide-back-button="true">

    <!--<ion-content header-shrink scroll-event-interval="3">-->
        <ion-content >
            <div class="text-center">

                <img src="img/Logo_kanglasha.png" width="70" height="50" alt="">

            </div>
            <div class="  text-center home-header-text">

                LouchaPathap Mobile App

            </div>
            <div class="  title text-center ">
       <span>
            Revenue Dept Govt of Manipur
       </span>
            </div>

            <div class="row ">

                <div class="square  ">
                    <div class="content">
                        <div class="table">
                            <div class="table-cell" style="text-align:center !important;">
                                <a ui-sref="app.pattaQuery" class="  button button-icon">
                                    <i class="icon ion-paper-airplane my-icon"></i>
                                    <h6 style="text-size:5px !important; color:#ffffff;">Patta Download</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="square  ">
                    <div class="content">
                        <div class="table">
                            <div class="table-cell" style="text-align:center !important;">
                                <a ui-sref="app.lValue" class="  button button-icon">
                                    <i class="icon ion-compose my-icon"></i>
                                    <h6 style="text-size:5px !important; color:#ffffff;">Land Valuation</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">

                <div class="square  ">
                    <div class="content">
                        <div class="table">
                            <div class="table-cell" style="text-align:center !important;">
                                <a href="" class="  button button-icon">
                                    <i class="icon ion-camera my-icon"></i>
                                    <h6 style="text-size:5px !important; color:#ffffff;">QR Verify</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="square  ">
                    <div class="content">
                        <div class="table">
                            <div class="table-cell" style="text-align:center !important;">
                                <a href="" class="  button button-icon">
                                    <i class="icon ion-help my-icon"></i>
                                    <h6 style="text-size:5px !important; color:#ffffff;">Help</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">


                <div class="col-50 col-offset-25" style=" padding-bottom:2%;width:50% !important;margin-top:.66%; background-color:#5DBCD2 !important; ">
                    <!--<div class="content">-->
                        <!--<div class="table">-->
                            <div class="table-cell" style="text-align:center !important;">

                                <a href="" class=" button button-icon">
                                    <i class="icon ion-information-circled my-icon"></i>
                                    <h6 style="text-size:4px !important; color:#ffffff;">AboutUs</h6></a>

                            </div>

                       <!-- </div>-->
                   <!-- </div>-->
                </div>

            </div>

    </ion-content>


</ion-view>