<ion-view>

    <ion-content class="base-color">
        <ion-list  class="base-color">
            <ion-item class="base-color item-icon-right" >
                 Settings
               
               </ion-item>
            <ion-item class="base-color item-icon-right" menu-close ui-sref="app.home" >
                Home
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="base-color item-icon-right"  menu-close ui-sref="app.pattaQuery" >
                Patta Download
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="base-color item-icon-right"  menu-close ng-click="sMenu.barcodescan()" >
                QRVerify
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="base-color item-icon-right"  menu-close ui-sref="app.contactus" >
                Contact Us
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>


