<ion-view>

    <ion-content class="base-color">
        <ion-list  class="base-color">
            <ion-item class="base-color item-icon-right" >
                Settings
                <i class="icon ion-ios-arrow-right"></i>
               </ion-item>
            <ion-item class="base-color item-icon-right" >
                Home
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="base-color item-icon-right" >
                PattaDownload
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="base-color item-icon-right" >
                DeedSearch
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="base-color item-icon-right" >
                QRVerify
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>


