<ion-header-bar align-title="left" class="bar-positive">
    <!--<ion-nav-bar class="bar-positive">-->
        <!--<ion-nav-buttons side="left">-->
            <!-- Toggle left side menu -->
            <button ng-click="toggleLeftSideMenu()" class="button button-icon icon ion-navicon" ></button>
       <!-- </ion-nav-buttons>-->
    <!--</ion-nav-bar>-->


</ion-header-bar>
<ion-header-bar align-title="center" class="bar-positive">

        <button ng-click="toggleLeftSideMenu()" class="button button-icon icon ion-navicon " ></button>

    <h1 class="title"><img class="title-image" src="img/logo2.svg" width="123" height="43" /></h1>

</ion-header-bar>
<ion-content>
    <ion-side-menus enable-menu-with-back-views="true">
        <ion-side-menu-content>
            <ion-nav-bar class="bar-positive" align-title="centre" style="margin-bottom:20px;"></ion-nav-bar>
            <ion-nav-view >
            <!--placeholder for content template-->
            </ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left">
           <!-- <ion-header-bar class="bar-assertive">
                <h1 class="title">Left Menu</h1>

            </ion-header-bar>-->

            <ion-nav-view name="sidemenu">

               </ion-nav-view>
        </ion-side-menu>
    </ion-side-menus>
</ion-content>


