/*@import url(http://fonts.googleapis.com/css?family=Lato:400,900);*/
.home-header-text {
    font-size:20px !important;
    font-family: 'Lato',verdana, sans-serif;
    color: #28a54c;
    text-align:center;
   /* background:#ECECEC;*/
}
.my-icon:before,
.my-icon{
    font-size:50px !important;
    color:#ffffff !important;
    display:block !important;
    text-align: center !important;
}
.applyFooter{
    margin-bottom: 55px !important;
}
.base-color {
   /* backgroud: -webkit-linear-gradient(left top,red,blue )!important;*/
    background-color: #5DBCD2 !important;
   /* over-flow:hidden !important;
    display: block !important;*/
    /*border-color: #5DBCD2 !important;*/
    /*border:0px !important;*/
   /* border-bottom-color: #5DBCD2 !important;
    padding: 0 !important;*/
    color:#ffffff !important;
}
.menu-base-color{
    background-color: #c6c6c6 !important;
    color:#ffffff !important;

}
.item .item-content{
    background-color: transparent !important;
}
/*
.square{
    width: 30%;
    padding-bottom: 30%; !* = width for a square aspect ratio *!
}*/
 /* <-- Just for the demo, Yes I like pretty fonts... */

.square {
    /*float:none;*/
    position: relative;
    width: 50%;
    padding-bottom : 25%; /* = width for a 1:1 aspect ratio */
    margin:.66%;
    background-color:#5DBCD2;
    overflow:hidden;
}

.content {
/*    position:absolute;*/
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 7%;

}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
   /* display:table-cell;*/
    vertical-align:middle;
}
@media (min-width: 680px) {
    .mymodal {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
    }
}
.mytabsicon {
    width: 100% !important;
    background-repeat: no-repeat  !important;
    background-position: 50% !important;
    height: 100%;
    background-color: #5DBCD2 !important;
    background-size:contain !important;
    color:#5DBCD2 !important;
}
.list .item.item-accordion {
  line-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.myspinner svg {
    padding-top: 3px !important;
    width: 28px !important;
    height: 28px !important;
    stroke: #fff !important;
    fill: #999 !important;
}
.myhome-font{

    -webkit-text-fill-color: #ffffff !important;
    -webkit-text-stroke: 2px #ffffff !important;
}

/**** help modal image gallery style********/
.transparent {
    background: transparent !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
.slider {
    width: 100%;
    height: 100%;
}

p.info {
    position: absolute;
    bottom: 55px;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}


/*.bar-header {
    height: 64px !important;
}
.bar-header > * {
    margin-top: 20px !important;
}

.scroll-content{
    top:0 !important
}*/
/*  For list */
/*
ul{
    text-align:left;
    margin:5% 0 0;
    padding:0;
    list-style-position:inside;
}
li{
    margin: 0 0 0 5%;
    padding:0;
}


!*  For responsive images *!

.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}
!*  For responsive images as background *!

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; !* you change this to "contain" if you don't want the images to be cropped *!
    color:#fff;
}

.img1{
    background-image: url('https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg');
}
.img2{
    background-image: url('https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg');
}
.img3{
    background-image: url('https://farm4.staticflickr.com/3794/13893055574_3df0ab636b.jpg');
}

!*  following just for the demo *!


body {
    font-size:20px;
    font-family: 'Lato',verdana, sans-serif;
    color: #fff;
    text-align:center;
    background:#ECECEC;
}
p{
    margin:0;
    padding:0;
    text-align:left;
}

.numbers{
    font-weight:900;
    font-size:100px;
}

#bottom {
    clear:both;
    margin:0 1.66%;
    width:89.68%;
    padding: 3.5%;
    background-color:#1E1E1E;
    color: #fff;
}
#bottom p{
    text-align:center;
    line-height:2em;
}
#bottom a{
    color: #000;
    text-decoration:none;
    border:1px solid #000;
    padding:10px 20px 12px;
    line-height:70px;
    background:#ccc;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#bottom a:hover{
    background:#ECECEC;
    border:1px solid #fff;
}*/
